//
//  Config.xcconfig
//  BestWish
//
//  Created by Quarang on 6/9/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvZmJ2aGpvanlsd3JqdnhpamhzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODk3NDg3MiwiZXhwIjoyMDY0NTUwODcyfQ.M2l6Z4xLKBUkeWzYTb5VtD5OA5bly6kxQtDAkufNPC8

SUPABASE_URL = bofbvhjojylwrjvxijhs.supabase.co

CLIENT_ID = com.baekyeong.BestWish
